<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Kizunaについて | Kizuna</title>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-left">Kizuna</h1>
                <h1 class="subtitle">~安心安全の外食をお届け~</h1>
                <h6>みんなで更新する飲食店の衛生管理情報<br>
                    - マスク着用義務の有無、消毒液の有無など、コロナ禍で気になる情報をひとまとめ!<br>
                    - 簡単に情報を投稿できる<br>
                    - シンプルなデザインで情報更新の様子が一目でわかる
                </h6>
            </div>
        </div>
    </section>

        <h6>飲食店のウイルス感染対策が気になる方々へ、最新情報をお届け!<br>
            - みんなでラクラク更新! <br><br>

Kizunaは、飲食店の衛生管理情報をみんなでチェック・更新していくHPです。<br>
各店舗の「最新情報」から、情報の投稿や更新の様子の確認が出来ます。<br>
今は茨城県つくば市の飲食店に対象を限定していますが、いただいたフィードバックに基づいてデータ拡張や機能実装等のアップデートを随時行う予定ですので、是非ご覧下さい。<br>

※本プロダクトはenpitの夏合宿をもとに製作されたものです。<br>

</body>
</html>