<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="bulma.min.css">
    <title>掲示板</title>
</head>

<body>
<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
           <h1 class="title">更新</h1>
        
        </div>
    </div>
</section>

                    

<section class="section ">
    <div class="container" >
         <div style="padding: 20px; border: 1px solid #ddd; border-radius: 5px;   width: 30%; margin: auto auto auto 0;"  />
    
            <details >
             <summary ><span><strong>＋　更新情報を入力してください</strong></span></summary>
        
            <%= form_with url: '/welcome/comment', method: :get, local: true do |f| %>
                <div style="width: 80%; ">
                    <br/>
                     <div class="content">
                    <div class="control">
                         <div class="select">
                            <select name="name">
                              <option value="takeout">テイクアウト</option>
                              <option value="mask">客のマスク着用</option>
                              <option value="time">短縮営業</option>
                             </select>
                          </div>
                         <div class="select">
                            <select name="comment">
                              <option value="true">あり</option>
                              <option value="false">なし</option>
                             </select>
                          </div>
                          <%# <div class="field-body">
                        <div class="field is-narrow"> %>
                        <%# <div class="control">  %>
                             <%# <label class="radio">
                            <input type="radio" name="member">
                                        あり
                            </label>
                            <label class="radio">
                            <input type="radio" name="member">
                                なし
                        </label> %>
                        <%# </div> %>
                        <%# </div> %>
                        <%# </div> %>
                    </div>
                    </div>

                    <div class="content">
                    <div class="field is-grouped">
                        <p class="control">
                             <a class="button is-primary" >
                                Submit
                             </a>
                        </p>
                        <p class="control">
                             <a class="button is-light">
                               Cancel
                             </a>
                     </p>
                    </div>
                    </div>
                </div>
            <% end %>
            </details>
        </div>
    </div>

</section>  

    <section class="section">
      <% @comments.each do |com| %>
            <h6 class="title is-6"><%= com.name %>: <%= com.comment %></h6>
        <% end %>    
    </section>  
</body>