<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bulma.min.css">
    <title>掲示板</title>

</head>

<body>
    <script type="text/javascript">
        $(function () {
            $('button#addit').click(function () {
                var add_form = '<div class="control">' +
                    '<div class="field is-grouped">' +
                    '<div class="select">' +
                    '<select name="name[]">' +
                    '<option value="テイクアウト">テイクアウト</option>' +
                    '<option value="客のマスク着用">客のマスク着用</option>' +
                    '<option value="短縮営業">短縮営業</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="select">' +
                    '<select name="comment[]">' +
                    ' <option value="あり">あり</option>' +
                    ' <option value="なし">なし</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    ' </div>'
                $("#parent_id").append(add_form);
            });


        });
    </script>







    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">更新</h1>

            </div>
        </div>
    </section>
    
    <section>
    <div class='container has-text-centered'> 
    <div class="box" >
        <p>
          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
    </div>
    </div>
    </section>
    
    <section class="section ">
    <div class="columns">
        <div class="column" style="background: #fee;">
            First column
        </div>
        <div class="column" style="background: #efe;">
            Second column
        </div>
        <div class="column" style="background: #eef;">
            Third column
        </div>
        <div class="column">
            Fourth column
        </div>
    </div>
    </section>
    <div style="border: 1px solid ;">
    <div style="padding: 20px; border: 1px solid; border-radius: 5px; width: 100px; margin-left: auto; margin-right:auto; ">
       <p>aa</p>
    </div>
    </div>
    <section class="section "  style="border: 1px solid;">
        <div class="container"  style="border: 1px solid;">
            <div style="padding: 20px; border: 1px solid; border-radius: 5px; width: 300px; margin-left: auto; margin-right:auto; ">
            <%# <div
                style="padding: 20px; border: 1px solid #ddd; border-radius: 5px;   width: 30%; margin: auto auto auto 0;" /> %>

            <details open>
                <summary><span><strong>＋　更新情報を入力してください</strong></span></summary>

                <form action="/welcome/comment" method="post">
                    <%#= form_with url: '/welcome/comment', method: :get, local: true do |f| %>
                    <div style="width: 80%; ">
                        <br />
                        <div class="content" id="parent_id">
                            <div class="control">
                                <div class="field is-grouped">

                                    <div class="select">
                                        <select name="name[]">
                                            <option value="テイクアウト">テイクアウト</option>
                                            <option value="客のマスク着用">客のマスク着用</option>
                                            <option value="短縮営業">短縮営業</option>
                                        </select>
                                    </div>

                                    <div class="select">
                                        <select name="comment[]">
                                            <option value="あり">あり</option>
                                            <option value="なし">なし</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="content">
                            <p class="control">
                                <button id="addit" type="button" class="button is-light">+追加</button>
                                <%# <a class="button is-light">
                                     + Add
                                </a> %>
                            </p>
                        </div>

                        <div class="content">
                            <div class="field is-grouped">
                                <p class="control">
                                    <input type="submit" value="Submit" class="button is-primary">
                                </p>
                                <p class="control">
                                    <a class="button is-light">
                                        Cancel
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%# end %>
                </form>
            </details>
            </div>
        </div>

    </section>


    <section class="section"  style="border: 1px solid;">
        <div class="container"  style="border: 1px solid;">

            <% @comments.each do |com| %>
            <%# comments=[name: mask　のデータ群を参照, name: takeout　のデータ, name: time　のデータ] %>
            <div class="content">
                <div
                    style="padding: 20px; border: 1px solid #ddd; border-radius: 5px;   width: 30%; margin: auto auto auto 0;" />
                <% com.each do |co| %>
                <p><%= co.name %>: <%= co.comment %> (<%= co.ipaddress %>)</p>
                <% end %>
            </div>
            <% end %>
        </div>
    </section>
                                     
</body>