<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bulma.min.css">

    <title>掲示板</title>


    <style type="text/css">
        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

        .scrolling-wrapper .item {
            display: inline-block;
        }
    </style>
</head>

<body>
    <section class="hero is-primary" style="border: 1px solid ;">
        <div class="hero-body " style="border: 1px solid ;">
            <div class="container" style="border: 1px solid ;">
                <h1 class="title">
                    Hero title
                </h1>
                <h2 class="subtitle">
                    Hero subtitle
                </h2>
            </div>
        </div>
    </section>


    <div class="columns" style="border: 1px solid;">
        <div class="scrolling-wrapper">
            <div class="box is-inline-block" style="width: 300px; margin: 50px">
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
            </div>
            <div class="box is-inline-block" style="width: 300px; margin: 50px">
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
            </div>
            <div class="box is-inline-block" style="width: 300px; margin: 50px">
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
            </div>
            <div class="box is-inline-block">
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
            </div>
            <div class="box is-inline-block">
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
                <div class="box">
                    box
                </div>
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
            <div class="box is-inline-block">
                inline block
            </div>
        </div>
    </div>


    <%#= javascript_pack_tag 'welcome/leader-line.min' %>

    <p id="start">start</p> <br>
    <p id="end">end</p>
    
    <button id="b1" onclick="clickEvent()" src="alert/pepepe.js">ボタン</button>
    <button id="b2" onclick="clickEvent()" style="position: relative; left: 100px; top: 100px;">ボタン2</button>
    
    <input type="button" id="b3" style="position: relative; left: 0px; top: 0px;"/>
    <input type="button" id="b4" style="position: relative; left: 100px; top: 0px;"/>

    <script src="leader-line.min.js"></script>
    <script type="text/javascript">
        new LeaderLine(
            document.getElementById('start'),
            document.getElementById('end')
        );

        new LeaderLine(
            document.getElementById('b1'),
            document.getElementById('b2')
        );
        
        new LeaderLine(
            document.getElementById('b3'),
            document.getElementById('b4')
        );
    </script>
</body>
</html>