<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bulma.min.css">
    <title>ログイン | Kizuna</title>
</head>

<body>
<p>ユーザ登録ありがとうございます<br>
　メールアドレスを確認の上、下記のコードを入力してください。</p>

<h1>Use this code to activate your Kizuna_id:<br/>
2345</h1>　
<button class="button is-danger is-light " id="check" style="float: right;">button</button>

<a href="https://kizuna-enpit.herokuapp.com/">https://kizuna-enpit.herokuapp.com/</a>
</body>