@charset 'utf-8';
.star-rating
{
    font-size: 25px;  position: relative;  width: 5em;  height: 1em;
}
.star-rating-front
{
    position: absolute;  top: 1;  left: 0;  overflow: hidden;  color: #fc3;
}
.star-rating-back
{
    color: #ccc;
}

/* オープン時にアニメーションを設定 */
details[open] .details-content
{
    animation: fadeIn 1.5s ease;
}
@keyframes fadeIn
{
    0%
    {
        transform: translateY(-10px); /*上から表示*/  opacity: 0; /* 透明 */
    }
    100%
    {
        transform: none;  opacity: 1;
    }
}
/* クローズ時にアニメーションを設定 */
details:not([open]) .details-content
{
    animation: fadeOut 1.5s ease;
}
@keyframes fadeOut
{
    0%
    {
        transform: none; /*上から表示*/  opacity: 1; /* 透明 */
    }
    100%
    {
        transform: translateY(-10px);  opacity: 0;
    }
}

summary
{
    outline: none;
}

div.columns
{
    display: flex;  flex-wrap: wrap;  justify-content: center;
}

div.column
{
    flex: 0 0 400px;
}

/*
div.columns {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.column {
    flex-basis: 33%;
    min-width: 33%;
}
*/

/* details summary {
    color: transparent;
}
details summary span {
    color:#000;
} */

/* 
.icons {
    padding:  10px;
    display: flex;
    flex-wrap:wrap;
  }
  
  .icon {
    color: blue;
    margin:  10px;
  }
   */